* {
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
    box-sizing: border-box;
}

body {
    background: url("https://images.pexels.com/photos/7594049/pexels-photo-7594049.jpeg") no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Nav styles */
.navbar {
    background-color: #ffff;
    color: #333;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-logo {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar-logo img {
    max-width: 300px;
    margin-right: 10px;
}

.profile-pic {
 width: 5rem;
 aspect-ratio: 1/1;
 border-radius: 50%;
overflow: hidden;
box-sizing: border-box;
 }

img {
display: block;
width: 100%;
box-sizing: border-box;
}   

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 110px;
}

.navbar a {
    text-decoration: none;
    color: #333;
}

header {
    background-color: #4E598C;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
    border-radius: 26px;
}

h1 {
    font-size: 24px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 26px;
    margin-top: 20px;
    border: 4px solid #fcaf58ff
}

.profile-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    border: 4px solid #fcaf58ff;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio-form {
    flex: 1;
    margin-left: 20px;
}

.bio-form h2 {
    font-size: 24px;
    color: #4E598C;
}

.bio-form p {
    font-size: 16px;
    color: #4E598C;
}

.user-preferences {
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.user-preferences h2 {
    font-size: 20px;
    color: #4E598C;
}

.user-preferences p {
    font-size: 16px;
    color: #4E598C;
}

.post-section {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    box-sizing: border-box;
    padding: 16px 20px;
    
}

.post-creation {
    flex: 1;
    background: #fff;
    border: 1px solid #4E598C;
    border-radius: 26px;
    padding: 16px 20px;
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-creation h2 {
    font-size: 20px;
    color: #4E598C;
}

.post-creation textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 26px;
    padding: 10px;
}

.post-creation button {
    background-color: #4E598C;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

.post-list {
    flex: 1;
    background: #fff;
    border: 1px solid #4E598C;
    border-radius: 26px;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 26px;
}

.post p {
    font-size: 16px;
    color: #4E598C;
}

.recipe-section {
    margin-top: 20px;
}

.recipe-creation {
    background: #fff;
    border: 1px solid #4E598C;
    border-radius: 10px;
    padding: 20px;
}

.recipe-creation h2 {
    font-size: 20px;
    color: #4E598C;
}

.recipe-creation input,
.recipe-creation textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 26px;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe-creation button {
    background-color: #4E598C;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
}

.recipe-list {
    margin-top: 20px;
    background: #fff;
    border: 1px solid #4E598C;
    border-radius: 26px;
    padding: 20px;
}

.recipe {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 26px;
}

.recipe h3 {
    font-size: 18px;
    color: #4E598C;
}

.recipe p {
    font-size: 16px;
    color: #4E598C;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

  /* Footer styles */
  .footer {
    background-color: #4E598C;
    color: #ffff;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.footer a {
    color: #ffff;
    text-decoration: none;
    margin: 0 10px;
}