body {
    
    
    align-content: center;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
}

#nav {
margin-top: 2%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;


}
#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#nav li {
    display: flex;
   padding: 0 20px 0 20px;

}

#nav img{
    z-index: -1;
    height: max-content;
    width: max-content;
}

#image-background {
    height: 800px;
    background: url(https://images.pexels.com/photos/4686816/pexels-photo-4686816.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
     
}

#image-background h1 h2 buttom {
    margin-top: 50px;

}



.info_services  {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;

    
    
}
.squares_services {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.info_services h2 {
   background-color: #4e598cff;
   color: white;
   width: 50%;
   
   padding:0.5rem;
   
}

.info_services p {
    background-color: #f9c784ff;
}


#squares_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   

}

#testimonials {
    display: flex;
    flex-direction: column;
    


}
